@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');

.main-container{
    width: 80%;
    margin: 0 auto;
    height: 100vh;

}

.image{
    width: 50%;
}

.content{
    width: 50%;
   
}
.content p{
    font-size: 25px;
    font-family: 'Nanum Gothic', sans-serif;

}

.image img{
    height: 400px;
    margin: 0 7% auto;
        
}

.wrapper{
    display: flex;
  
}