*{
    margin: 0;
    padding: 0;
}


#logo{
    width: 7%;
}

header{
    background-color: #0059B7;
    height: 80px;
    position: relative;
    top:-50%;
    color: white;
}

h1{
    display: inline;
    font-family: 'Varela Round', sans-serif;
    position: relative;
    top: -30%;
    
}

h1 a{
    text-decoration: none;
    color: white;
}

a:hover {
    opacity: 0.7;
  }

nav{
 
    position: relative;
    left: 40%;
    top: -70%;
    width: 60%;   
}

ul{
    list-style-type: none;   
}

ul a{
    text-decoration: none; 
    color: white;
    padding-left: 3%;
    font-size: 20px;
    position: relative;
    font-family: 'Oleo Script', cursive;
}

li{
    display: inline;
   
}