*{
    margin: 0;
    padding: 0;
}


#logo{
    width: 7%;
}

header{
    background-color: #0059B7;
    height: 80px;
    position: relative;
    top:-50%;
    color: white;
}

h1{
    display: inline;
    font-family: 'Varela Round', sans-serif;
    position: relative;
    top: -30%;
    
}

h1 a{
    text-decoration: none;
    color: white;
}

a:hover {
    opacity: 0.7;
  }

nav{
 
    position: relative;
    left: 40%;
    top: -70%;
    width: 60%;   
}

ul{
    list-style-type: none;   
}

ul a{
    text-decoration: none; 
    color: white;
    padding-left: 3%;
    font-size: 20px;
    position: relative;
    font-family: 'Oleo Script', cursive;
}

li{
    display: inline;
   
}
ul {
	list-style-type: none;
	}
body {
	font-family: Verdana, sans-serif;
}

/* Month header */
.month {
  padding: 70px;
  width: 40.9%;
  background: #005AFF;
  text-align: center;
  margin-left: 250px;
}



.month ul li {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Sun-Sat) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#575757;
  width: 50%;
  margin-left: 250px;
}

.weekdays li {
  display: inline-block;
  width: 13.5%;
  color: black;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin-left: 250px;
  width: 50%;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.5%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #141414;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #005AFF;
  color: white !important
}
.last-month{
	opacity: 0.5;
}
