@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{

    margin: 0;
    padding: 0;
}
body{
  overflow-x: hidden;
  user-select: none;
}


main{
  margin: 0 15% auto;

  width: 70%;
 
}

h1 a{
  color: unset;
  font-size: unset;
}

h2{
  position: unset;
  color: unset;
  font-size: 40px;
  font-family: Anton, 'sans serif';
}

h2 span{
  font-size: 32px;

}

#calender{

  margin-top: 10%;
  display: flex;
}

.container{
  font-size: 25px;
 margin-top: 5%;
}

.card {  
  width: 50%;
  margin-top: 10%;
    height: fit-content;
  background: linear-gradient(45deg, #0059B7, #9ab3ce);
  border-radius: 20px; 
   box-shadow: 0px 0px 10px #000;
   
}

.logo{
  order: 2;
}

.calendar-bar { 
   display: flex; 
    justify-content: space-between;
  align-items: center; 
   padding: 20px;  
   padding-bottom: 15px;
  border-bottom: 19px;
}

.calendar-bar > .current-month {
  font-size: 20px;  
  font-weight: bold;  
  color: #ddd;
  background:#000;  
  padding:5px; 
   border-radius:10px;
}

.calendar-bar > [class$="soft-btn"] {
  width: 40px; 
   aspect-ratio: 1;
     text-align: center;
  line-height: 40px; 
   font-size: 14px;  color: #000;
  background: #ddd;
    border: none;
      border-radius: 50%;
}

.weekdays-name, .calendar-days { 
   display: flex;
     flex-wrap: wrap; 
      padding-inline:18px;}

.weekdays-name {  
  padding-top: 12px;
}

.calendar-days {
    padding-bottom: 12px;}

.days-name, [class$="-day"] { 
   width: 40px; 
    height: 40px; 
     color: #000; 
      text-align: center;
  line-height: 40px; 
   font-weight: 500;  
   font-size: 1rem;
}

.days-name { 
   color: #fff;  
   font-weight: 700;
  }

.current-day {
  background-color: #000;
    color: #fff;
  border-radius: 50%; 
   font-weight: 700; 
    transition: 0.5s;  
    cursor: pointer;
}

.padding-day {
  color: #a5a5a5;
    user-select: none;
}

.calendar-bar > [class$="soft-btn"]:hover,
.month-day:hover,
.btn:hover {
  border-radius:5px; 
   background-color:#f8f7fa; 
    color:#000; 
     border-radius:15px;
  transition: 0.1s;
    cursor: pointer;
 
}

.calendar-bar > [class$="soft-btn"]:focus,
.month-day:focus,
.btn:focus { 
   border-radius:15px;  
  background-color: #000; 
   color: #ddd;
}

.goto-buttons {
  border-top: solid 2px yellow; 
   padding-block: 18px; 
    display: flex;
  justify-content: space-evenly;
}

.btn {
  background: #eee;
    border: none;  
  border-radius: 10px;
  padding: 11px 13px;  color:#000; 
   font-family: "Quicksand", sans-serif;
  font-weight: 600;  font-size: 0.9rem; 
   margin-right: 1px;  
   box-shadow: 0px 0px 0px #000;
}


.banners{
 
  display: flex;
 margin-bottom: 5%;

}

.banner{
  display: flex;
  flex: 1;
  border-radius: 20px;
  flex-direction: column;
  width: 50%;
  
  border: 2px solid hsl(0, 0%, 90%);
  box-shadow: 20px 12px 10px hsl(0, 0%, 98%);
  

}

.banner:last-of-type{
  margin-left: 5%;
}

.banner img{
  width: 100%;
  border-radius: 20px;
  
}

.banner button{
  margin-left: 5%;
  margin-bottom: 5%;
  width: 25%;
  font-size: 25px;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(to right, #7db9f9, #9ab3ce);
}


h3{
  position: unset;
  font-size: 35px;
  margin-left: 5%;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: .1px;
}

.status{
  font-size: 40px;
  margin-left: 25%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* footer code */
footer, footer a{
    background-color: #00B2F0;
    text-align: center;
    color:rgb(240, 241, 247);
}

footer li{
    font-size: 50px;
    padding: 2%;
}

#footer-header{
    font-size: 25px;
}

#footer-contact{
    font-size: 20px;
    padding: 1.5%;
}

#footer-header span{
    color:#2cecfa
}

footer p:last-of-type{
    font-size: 18px;
}