*{
    margin: 0;
    padding:0;
}

h1 a{
    color: unset;
    font-size: unset;
}

main{
  
    width: 90vw;
    margin-left: 5%;
}

.title{
    position: relative;
    top: 30%;
    left: unset;
    color: unset;
    font-size: 45px;
    font-family: Anton;
    letter-spacing: 3px;
}

.title:nth-child(2){
    font-size: larger;
}

.container-1 p{
    font-size: large;
    padding: 1%;
}

.container-1{
    margin-top: 5%;
}

.container-2{

    display: flex;
    flex-direction: row;
   
   
    margin-top: 2%;
}

.container-2 div{
    margin: 1% 0 1% 0;
    background: linear-gradient(0,rgba(96, 176, 255, 0.978) 0, #cceef0 100%);
    border-radius: 10px;
    padding: 1%;
}

.categories{
    flex: 2;
}



#keyword{
    width: 95%;
    height: 32px;
    font-size: 100%;
    padding-left: 2%;
    border-radius: 15px;
}

.category-link{
    display: block;
    margin-top: 5%;
}

.category-link{
    font-style: bold;
    font-size: 20px;
}

.categories p{
    font-size: 25px;
    color: grey;
}
