*
{
   
    margin: 0;
    padding:0;
}



body{
    background: linear-gradient(145deg, hsla(211, 99%, 36%, 0.816), hsla(208, 59%, 87%, 0.931),  hsla(0, 60%, 97%, 0.816)) ;
}
h1 a{
    color: unset;
    font-size: unset;
}

main{
  
    width: 90vw;
    margin-left: 5%;
}

.title{
    position: relative;
    top: 30%;
    left: unset;
    color: unset;
    font-size: 45px;
    font-family: Anton;
    letter-spacing: 3px;
}

.title:nth-child(2){
    font-size: larger;
}

.container-1 p{
    font-size: 28px;
    padding: 1%;
    width: 75%;
}

.container-1{
    margin-top: 5%;
}

.container-2{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 2%;
    
}

#navigation{
    padding-left: 45%;
    margin-bottom: 5%;
}

#navigation p{
    display: inline;
    margin-left: 3%;
    font-size: 20px;
    width: 10%;
    font-family: Anton;
}


.categories{
    flex: 1;
    padding-top: 5%;
}
.faq-section{
    flex: 5;
}



#keyword{
    width: 80%;
    height: 32px;
    font-size: 100%;
    padding-left: 2%;
    border-radius: 15px;
}

.category-link{
    display: block;
    margin-top: 5%;
}

.category-link{
    font-style: bold;
    font-size: 20px;
    margin-top: 10%;
}

.categories p{
    font-size: 25px;
    color: aliceblue;
}



input[type=text]{
    position: relative;
    padding: 15px 40px 15px 20px;
    margin-left: 35%;
    width: 0px;
    color: #525252;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%);
    transition: width 0.4s ease;
    outline: none;
   
    
  }

  input[type=text]:focus{ 
    
    animation: slide 1s ease-in-out;
    animation-fill-mode: forwards;
 }

  
  i{
    position: relative;
    left: -37px;
    color: #8233C5;
    animation: slideOutIcon 1s ease-out;
  }

  
 

  .faq-heading {
    font-family: 'Arial Narrow Bold', sans-serif;   
    font-weight: 400;
    font-size: 19px;
    -webkit-transition: text-indent 0.2s;
    text-indent: 20px;
    color: #333;
    margin: 2% 0 2% 0;
  }
  
  .faq-text {
    font-family:'Trebuchet MS', sans-serif;   
    font-weight: 400;
    color: #919191;
    width:95%;
    padding-left:20px;
    margin-bottom:30px;
  }
  

  .faq {
    width: 80%;
    margin: 0 5% auto;
    border-radius: 4px;
    position: relative;
  
    
  }
  .faq label {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: auto;
    padding-top:1px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #E1E1E1;
    border-radius: 20px;
    margin-bottom: 1%;
    padding-left: 2%;
}

#faq1{
    animation: slider .6s linear 1 both;
    
}
#faq2{
    animation: slider .6s linear 1 both;
    animation-delay: .3s;
    
}
#faq3{
    animation: slider .6s linear 1 both;
    animation-delay: .6s;

}
#faq4{
    animation: slider .6s linear 1 both;
    animation-delay: .9s;

}
#faq5{
    animation: slider .6s linear 1 both;
    animation-delay: 1.3s;

}
#faq6{
    animation: slider .6s linear 1 both;
    animation-delay: 1.6s;
}

@keyframes slider{
    from{
        transform: translateX(-10%);
        opacity: 0%;
    }
  
    to{
        transform: translateX(0);

        opacity: 100%;
    }
  }
  
  .faq input[type="checkbox"] {
    display: none;
  }
  
  .faq .faq-arrow {
    width: 10px;
    height: 10px;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s;
     -webkit-transform: 0.8s;
     -webkit-transition-timing-function:  cubic-bezier(0.68, -0.55, 0.265, 1.55);;
    border-top: 2px solid rgba(0, 0, 0, 0.33);
    border-right: 2px solid rgba(0, 0, 0, 0.33);
    float: right;
    position: relative;
    top: -32px;
    right: 30px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
           
  }
  
   .faq input[type="checkbox"]:checked + label > .faq-arrow {
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
   .faq input[type="checkbox"]:checked + label {
    display: block;
    background: rgba(255,255,255,255) !important;
    color: #4f7351;
    height: 225px;
    transition: height 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  
   .faq input[type='checkbox']:not(:checked) + label {
    display: block;
    transition: height 0.8s;
    height: 60px;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  ::-webkit-scrollbar {
    display: none;
  }


  

.container-3{
    margin-bottom: 2%;
    padding-left: 30%;
    
}
  #card{
    display: flex;
   width: 65%;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
}


  #card img{
    height: 300px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   

  }

#content-container p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: larger;
    padding: 2%;
}

  #safety{
    font-size: 30px;
    font-family: Anton;
    padding: 5%;
  }
  

  #card img:hover{
    animation: cardHover .2s ease-in;
    animation-fill-mode: forwards;
    
  
}
  
  
  @keyframes slide{
    from{
        transform: translate(0, 0);
    }

    to{
        transform: translate(-100px, 0);
        width: 40%;
    }
  }
  

  @keyframes slideOutIcon{
    from{
        transform: translate(200px, 0);
    }

    to{
        transform: translate(0px, 0);
        width: 0%;
    }
  }

  @keyframes cardHover{
    from{
        opacity: 100%;
    }

    to{
        opacity: 30%;
        transform: scale(1.1);
    }
  }
  