*{
    margin: 0;
    padding:0;
}

h1 a{
    color: unset;
    font-size: unset;
}

main{
  
    width: 90vw;
    margin-left: 5%;
}

.title{
    position: relative;
    top: 30%;
    left: unset;
    color: unset;
    font-size: 45px;
    font-family: Anton;
    letter-spacing: 3px;
}

.title:nth-child(2){
    font-size: larger;
}

.container-1 p{
    font-size: large;
    padding: 1%;
}

.container-1{
    margin-top: 5%;
}

.container-2{

    display: flex;
    flex-direction: row;
   
   
    margin-top: 2%;
}

.container-2 div{
    margin: 1% 0 1% 0;
    background: linear-gradient(0,rgba(96, 176, 255, 0.978) 0, #cceef0 100%);
    border-radius: 10px;
    padding: 1%;
    width: 80%;
}

.categories{
    flex: 2;
}



#keyword{
    width: 80%;
    height: 32px;
    font-size: 100%;
    padding-left: 2%;
    border-radius: 15px;
}

.category-link{
    display: block;
    margin-top: 5%;
}

.category-link{
    font-style: bold;
    font-size: 20px;
}

.categories p{
    font-size: 25px;
    color: grey;
}


input[type=text]{
    position: relative;
    padding: 15px 40px 15px 20px;
    margin-left: 35%;
    width: 0px;
    color: #525252;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%);
    transition: width 0.4s ease;
    outline: none;
   
    
  }

  input[type=text]:focus{ 
    
    animation: slide 1s ease-in-out;
    animation-fill-mode: forwards;
 }

  
  i{
    position: relative;
    left: -37px;
    color: #8233C5;
    animation: slideOutIcon 1s ease-out;
  }


  @keyframes slide{
    from{
        transform: translate(0, 0);
    }

    to{
        transform: translate(-100px, 0);
        width: 40%;
    }
  }
  

  @keyframes slideOutIcon{
    from{
        transform: translate(200px, 0);
    }

    to{
        transform: translate(0px, 0);
        width: 0%;
    }
  }