@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oleo+Script&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Oleo+Script&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Bebas+Neue&family=Oleo+Script&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(240, 241, 247);
}

header{
    background-color: #0159B6;
    height: 80px;
    position: relative;
    top:-50%;
    color: white;
}

.title {
    color: grey;
    
  }

h1{
    display: inline;
    font-family: 'Varela Round', sans-serif;
    position: relative;
    
    
}
h2{
    font-family: 'Oleo Script', cursive;
    position: absolute;
    top: 40%;
    left: 10%;
    color: #EFEFF3;
    font-size: 25px;
}

h3{
    position: absolute;
    top: 90%;
    left: 10%;
    color: #EFEFF3;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
  
}


#front-image-header{
    position: absolute;
    top: 50%;
    left: 10%;
    color: #EFEFF3;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}


nav{
 
    position: relative;
    left: 35%;
    top: -100%;
    width: 65%;   
}

ul{
    list-style-type: none;   
}

ul a{
    text-decoration: none; 
    color: white;
    padding-left: 3%;
    font-size: 20px;
    position: relative;
    font-family: 'Oleo Script', cursive;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  a:hover {
    opacity: 0.7;
  }
li{
    display: inline;
   
}

#front-image{
    position: relative;
     width: 100%;
     height: 650px;
    filter: brightness(60%);
}

#limited-Offers{
    height: 300px;
    display: flex;
    background-color: rgb(240, 241, 247);
}
.card{ border-radius: 5%;
   
    width: 450px;
    margin: auto;
    text-align: center;
    font-family: arial;
    display: flex;
  }

  .card img{
      height: 220px;
  }

.card2 .flex-content{
    flex: 1;
}
.card2 .flex-image{
    flex: 1;
}

.card3 .flex-content{
    flex: 1.5;
}

.card3 .flex-image{
    flex: 1;
}
  
#banner{
    height: 150px;
    background-color: #00B2F0;
}

#banner-container{
    height: 150px;
    display: flex;
    font-family: 'Questrial', sans-serif;
}

.items{
    position: relative;
    margin: auto;
    height: 135px;
    width: 150px;
    text-align: center;
    color: white;
    transition: color .4s ease-in-out, box-shadow .5s ease-in-out;
}
 
.items:hover {
    box-shadow: inset 200px 0 0 0 #54b3d6;
    
  }
#banner a {
    position: relative;
    top: 35%;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: white;
  }


  #news-container{
    background-color: rgb(240, 241, 247);;
    display: flex;
}
    #news-content{
        margin: 1%;
        padding: 5%;
        text-align: center;
        height: 130px;
    }
h4{
    font-size: 24px;
    font-family: 'Varela Round', sans-serif;
}

#news-content p{
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
}

#news-video iframe{

    width: 100%;
    height: 400px;
    }

#main-scroll-div{
    display: flex;
    justify-content: space-between;
    height: auto;
}

#image-wrapper{
    
    width: 100%;
   
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
  
}

#image-wrapper::-webkit-scrollbar{
    -webkit-appearance: none ;
}

.icon{
    color: rgb(240, 241, 247);;
    background-color: unset;
    font-size: 35px;
    outline: none;
    border: none;
    padding: 0px 10px;
    height: 576.2px;

}

.icon:hover{
    cursor: pointer;
}

#health span{
    font-family:'Nothing You Could Do', cursive;
}

#health p{
    font-size: 22px;
}

#news-letter-container{
    display: flex;
    background-color: rgb(240, 241, 247);
    height: 300px;

}


h5{
    font-size: 28px;
    display: block;
    font-family: 'Varela Round', sans-serif;
   
}

#news-letter-content{
   
    padding: 5%;
    font-size: 20px;
    color: black;
    font-family: 'Questrial', sans-serif;
}

#news-letter-image img{
    margin-top: -3%;
    height: 300px;
    width: 320px
}

#subscribe-btn {
    margin-top: 10%;
    padding: 15px 25px;
    font-size: 20px;
    color: #017CA3;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.2);
  }
  
  #subscribe-btn:hover {
      background-color: #00B2F0; 
    color: white;
}
  
  #subscribe-btn:active {
    background-color: #8aa1d3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

footer, footer a{
    background-color: #00B2F0;
    text-align: center;
    color:rgb(240, 241, 247);
}

footer li{
    font-size: 50px;
    padding: 2%;
}

#footer-header{
    font-size: 25px;
}

#footer-contact{
    font-size: 20px;
    padding: 1.5%;
}

#footer-header span{
    color:#2cecfa
}

footer p:last-of-type{
    font-size: 18px;
}
/*Tablet view*/
@media screen and (min-width: 767px) {
   
    
    header{
        height: 110px;
    }
    
    #logo{
        position: relative;
        left: -2%;
        width: 15%;
        }
    
    h1{
        top: -30%;
        font-size: 25;
    }
    
    h3{
        top: 100%;    
        }
      
    nav{   
        left: 1%;
        top: -10%;
        width: 100%; 
        
        }  
    
        ul a{
            font-size: 17px;
        }
      
        #limited-Offers{
            flex-direction: column;
            height: auto;
        }
    
        .card{ border-radius: 5%;
            box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2);
           height: 300px;
           margin: 5% 18% auto;
            flex-direction: column;
          }

          .card2{
              height: auto;
          }
        .card3{
            margin-bottom: 5%;
        }
    #news-container{
        background-color: #00B2F0;
        display: flex;
        flex-direction: column-reverse;
    }
        #news-content{
            color: aliceblue;
            margin: 1%;
            text-align: center;
            flex: 1;
        }
    h4{
        font-size: 24px;
        font-family: 'Varela Round', sans-serif;
        
     
    }
    
    #news-content p{
        font-size: 20px;
        font-family: 'Questrial', sans-serif;
    }
    
    #news-video iframe{
       
        flex: 1;
        width: 100%;
        }
    
    #main-scroll-div{
     
       width: 600px;
        margin: auto;
    }
    
    #image-wrapper{
        
        width: 100%;   
        display: flex;
        justify-content: left;
        align-items: center;
        overflow: auto;
        scroll-behavior: smooth;
      
    }

    #image-wrapper img{
        width:700px;
    }

    #image-wrapper .images{
        width: 100%;
    }
    
    #image-wrapper::-webkit-scrollbar{
        -webkit-appearance: none ;
    }
    
    .icon{
        color: #00B2F0;
        background-color: unset;
        font-size: 35px;
        outline: none;
        border: none;
        padding: 0px 10px;
        height: 576.2px;
    
    }
    
    #health{
        background-color: #00B2F0;
        color: aliceblue;
        height: 150px;
        padding: 3%;
    }

    #health span{
      font-family:'Nothing You Could Do', cursive;
      font-size: 40px;
      }

      #health p{
          font-family: 'Questrial', sans-serif;
          width: 85%;
          text-align: center;
          margin: 1% 3% auto;

      }


    #news-letter-container{
        display: flex;
        background-color: rgb(240, 241, 247);
        height: 300px;
    
    }
    
    
    h5{
        font-size: 28px;
        display: block;
        font-family: 'Varela Round', sans-serif;
       
    }
    
    #news-letter-content{
       
        padding: 5%;
        font-size: 20px;
        color: black;
        font-family: 'Questrial', sans-serif;
    }
    
    #news-letter-image img{
        margin-top: -3%;
        height: 300px;
        width: 330px
    }
    
    #subscribe-btn {
        margin-top: 10%;
        padding: 15px 25px;
        font-size: 20px;
        color: #017CA3;
        background-color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.2);
      }
      
      #subscribe-btn:hover {
          background-color: #00B2F0; 
        color: white;
    }
      
      #subscribe-btn:active {
        background-color: #8aa1d3;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }

     
    






    footer, footer a{
        background-color: #00B2F0;
        text-align: center;
        color:rgb(240, 241, 247);
    }
    
    footer li{
        font-size: 50px;
        padding: 2%;
    }
    
    #footer-header{
        font-size: 25px;
    }
    
    #footer-contact{
        font-size: 20px;
        padding: 1.5%;
    }
    
    #footer-header span{
        color:#2cecfa
    }
    
    footer p:last-of-type{
        font-size: 18px;
    }
    
      }/*end of media*/


/*Small Laptop view*/
@media screen and (min-width: 1023px){
    header{
        height: 100px;
        position: relative;
        top:-50%;
        color: white;
    }
    
    #logo{
        width: 13%;
    }

    h1{
        top: -45%;
        left: -2%;
    }

    h3{
        top: 110%;
    }
    nav{
        width: 80%;
        left: 15%;
        top: -40%;
       
    }
    
    #limited-Offers{
        height: auto;  
        flex-direction: row;
    }
    .card{ border-radius: 5%;
        flex-direction: column;
        width: 350px;
        height: 350px;
        margin: 5% .5% auto;
        border-radius: 5%;
        margin-bottom: 5%;
    }

      .card img{
          height: 100%;
          width: 250px;
      }

  

    #news-container{
        background-color: #00B2F0;
        display: flex;
        color: aliceblue;
        flex-direction: column-reverse;
    }
   
    #news-content p{
        font-size: 20px;
        font-family: 'Questrial', sans-serif;
    }
    
    #news-video iframe{

        width: 100%;
        height: 400px;
        }
    
    #main-scroll-div{
        display: flex;
        justify-content: space-between;
        height: auto;
        width: 850px;
        margin: auto;
    }
 

    #image-wrapper img{
        width: 950px;
    }
    
    #image-wrapper::-webkit-scrollbar{
        -webkit-appearance: none ;
    }
    
    .icon{
        color: #00B2F0;
        background-color: unset;
        font-size: 35px;
        padding: unset;

         
    }
    
    #health{
        background-color: #00B2F0;
        color: aliceblue;
        height: 150px;
        padding: 3%;
    }

    #health span{
      font-family:'Nothing You Could Do', cursive;
      font-size: 40px;
      margin: 0 15% auto;
      }

      #health p{
          font-family: 'Questrial', sans-serif;
          text-align: center;

      }
    #news-letter-container{
        height: unset;
        flex: wrap;
    }


#news-letter-image img{
    margin-top: -3%;
    height: unset;
    width: unset;
    margin-left: 1px ;
}
    
    #subscribe-btn {
        margin-top: 10%;
        padding: 15px 25px;
        font-size: 20px;
        color: #017CA3;
        background-color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.2);
      }
      
      #subscribe-btn:hover {
          background-color: #00B2F0; 
        color: white;
    }
      
      #subscribe-btn:active {
        background-color: #8aa1d3;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
    
    footer, footer a{
        background-color: #00B2F0;
        text-align: center;
        color:rgb(240, 241, 247);
    }
    
    footer li{
        font-size: 50px;
        padding: 2%;
    }
    
    #footer-header{
        font-size: 25px;
    }
    
    #footer-contact{
        font-size: 20px;
        padding: 1.5%;
    }
    
    #footer-header span{
        color:#2cecfa
    }
    
    footer p:last-of-type{
        font-size: 18px;
    }
    
}/*End of media*/

/*Medium laptop 1366px*/    
@media screen and (min-width:1365px){

    #logo{
        position: unset;
        width: 7%;
    }
    
    header{
        
        height: 80px;
        position: relative;
        top:-60%;
        color: white;
    }
    
    .title {
        color: grey;
        font-size: 18px;
      }
    
    h1{
        display: inline;
        font-family: 'Varela Round', sans-serif;
        top: -25%;
        left: 1mm;
        
    }
    h2{
        font-family: 'Oleo Script', cursive;
        position: absolute;
        top: 40%;
        left: 10%;
        color: #EFEFF3;
        font-size: 25px;
    }
    
    h3{
        position: absolute;
        top: 90%;
        left: 10%;
        color: #EFEFF3;
        font-size: 20px;
        font-family: 'Varela Round', sans-serif;
      
    }
    
    h4{
        color: black;
    }
    #front-image-header{
        position: absolute;
        top: 50%;
        left: 10%;
        color: #EFEFF3;
        font-size: 50px;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
    }
    
    
    nav{

        position: relative;
        left: 34%;
        top: -55%;
        width: 65%;   
    }
    
    ul{
        list-style-type: none;   
    }
    
    ul a{
        text-decoration: none; 
        color: white;
        padding-left: 3%;
        font-size: 20px;
        position: relative;
        font-family: 'Oleo Script', cursive;
    }
    
    a {
        text-decoration: none;
        font-size: 22px;
        color: black;
      }
      
      a:hover {
        opacity: 0.7;
      }
    li{
        display: inline;
       
    }
    
    #front-image{
        position: relative;
         width: 100%;
         height: 650px;
        filter: brightness(60%);
    }
    
    #limited-Offers{
        height: auto;
        display: flex;
        flex-direction: row;
        background-color: rgb(240, 241, 247);
    }
    .card{ border-radius: 5%; 
        flex-direction: column;
        width: auto;
        height: 400px;
        margin: 5% 5% auto;
        margin-bottom: 5%;
    }


    .card:nth-child(1){
        order: 2;
    }

    .card:nth-child(3){
        order: 2;
    }

    .card .flex-content{
        margin-top: 3%;
    }
      .card img{
          height: 100%;
          width: 250px;
      }
    
    
    .items:hover {
        box-shadow: inset 200px 0 0 0 #54b3d6;
        
      }
    #banner a {
        position: relative;
        top: 35%;
        box-shadow: inset 0 0 0 0 #54b3d6;
        color: white;
      }
    #banner{
        border-bottom: 2px solid white;
        
    }
      
      #news-container{
       width: 100%;
        display: flex;
        color: aliceblue;
        flex-direction: column-reverse;
    }
    
    #news-content p{
        font-size: 20px;
        font-family: 'Questrial', sans-serif;
        color: black;
        width: 75%;
        margin: 2% 10% auto;
    }
    
    #news-content{
        background-color: #00B2F0;
        width: 100%;
        margin: unset;
        width: unset;
    }
    
    #news-video iframe{
       
        width: 100%;
        height: 90vh;
        }
    #news-video{
        background-color: rgb(240, 241, 247);
    }
    #main-scroll-div{
       
       
       margin: 0 25% auto;
    }
    
    #image-wrapper{ 
        width: 70%;    
        height: auto;
        
    }
    
    #image-wrapper img{
        width: 1100px;
        height: 650px;
    }
    
    #image-wrapper::-webkit-scrollbar{
        -webkit-appearance: none ;
    }
    
    .icon{
        color: #00B2F0;
        background-color: unset;
        font-size: 55px;
        padding: unset;
        margin-top: 5%;
         
    }
    
    #health{
        background-color: #00B2F0;
        color: aliceblue;
        height: 150px;
        padding: 3%;
    }
    


    #health span{
      font-family:'Nothing You Could Do', cursive;
      font-size: 40px;
      text-align: center;
      display: block;
      }
    
      #health p{
          font-family: 'Questrial', sans-serif;
          text-align: center;
        width: 55%;
        margin: 0 22% auto;
      }
    #news-letter-container{
        height: unset;
        flex: wrap;
    }
    
    
    #news-letter-image img{
    margin-top: -3%;
    height: unset;
    width: unset;
    margin-left: 1px ;
    }
    
    #subscribe-btn {
        margin-top: 10%;
        padding: 15px 25px;
        font-size: 20px;
        color: #017CA3;
        background-color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.2);
      }
      
      #subscribe-btn:hover {
          background-color: #00B2F0; 
        color: white;
    }
      
      #subscribe-btn:active {
        background-color: #8aa1d3;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
    
    footer, footer a{
        background-color: #00B2F0;
        text-align: center;
        color:rgb(240, 241, 247);
    }
    
    footer li{
        font-size: 50px;
        padding: 2%;
    }
    
    #footer-header{
        font-size: 25px;
    }
    
    #footer-contact{
        font-size: 20px;
        padding: 1.5%;
    }
    
    #footer-header span{
        color:#2cecfa
    }
    
    footer p:last-of-type{
        font-size: 18px;
    }
    
    
    }/*End of media(/
  

/*Large laptop*/    
@media screen and (min-width:1439px){

    #logo{
        position: unset;
        width:7%;
    }
    
    header{
        
        height: 80px;
        position: relative;
        top:-50%;
        color: white;
    }
    
    .title {
        color: grey;
        font-size: 18px;
      }
    
    h1{
        display: inline;
        font-family: 'Varela Round', sans-serif;
        top: -25%;
        left: 1mm;
        
    }
    h2{
        font-family: 'Oleo Script', cursive;
        position: absolute;
        top: 40%;
        left: 10%;
        color: #EFEFF3;
        font-size: 25px;
    }
    
    h3{
        position: absolute;
        top: 90%;
        left: 10%;
        color: #EFEFF3;
        font-size: 20px;
        font-family: 'Varela Round', sans-serif;
      
    }
    
    h4{
        color: black;
    }
    #front-image-header{
        position: absolute;
        top: 50%;
        left: 10%;
        color: #EFEFF3;
        font-size: 50px;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
    }
    
    
    nav{
     
        position: relative;
        left: 38%;
        top: -45%;
        width: 60%;   
    }
    
    ul{
        list-style-type: none;   
    }
    
    ul a{
        text-decoration: none; 
        color: white;
        padding-left: 3%;
        font-size: 20px;
        position: relative;
        font-family: 'Oleo Script', cursive;
    }
    
    a {
        text-decoration: none;
        font-size: 22px;
        color: black;
      }
      
      a:hover {
        opacity: 0.7;
      }
    li{
        display: inline;
       
    }
    
    #front-image{
        position: relative;
         width: 100%;
         height: 650px;
        filter: brightness(60%);
    }
    
    #limited-Offers{
        height: auto;
        display: flex;
        flex-direction: row;
        background-color: rgb(240, 241, 247);
    }
    .card{ border-radius: 5%;
        flex-direction: column;
        width: auto;
        height: 500px;
        margin: 5% 2% auto;
        margin-bottom: 5%;
    }

    .card:nth-child(1){
        order: 2;
    }

    .card:nth-child(3){
        order: 2;
    }

    .card .flex-content{
        margin-top: 3%;
    }
      .card img{

          height: 100%;
          width: 300px;
      }
    
    
    .items:hover {
        box-shadow: inset 200px 0 0 0 #54b3d6;
        
      }
    #banner a {
        position: relative;
        top: 35%;
        box-shadow: inset 0 0 0 0 #54b3d6;
        color: white;
      }
    #banner{
        border-bottom: 2px solid white;
        
    }
      
      #news-container{
       
        display: flex;
        color: aliceblue;
        flex-direction: column-reverse;
    }
    
    #news-content p{
        font-size: 20px;
        font-family: 'Questrial', sans-serif;
        color: black;
    }
    
    #news-content{
        background-color: #00B2F0;
        width: unset;
        margin: unset;
    }
    
    #news-video iframe{
        margin: unset;
        width: 100%;
        height: 90vh;
        }
    #news-video{
        background-color: rgb(240, 241, 247);
    }
    #main-scroll-div{
        display: flex;
        justify-content: center;
        height: auto;
         margin: 2% 25% auto;
    }
    
    #image-wrapper{ 
        width: auto;    
        height: auto;
    }
    
    #image-wrapper img{
        width: 1100px;
        height: 650px;
    }
    
    #image-wrapper::-webkit-scrollbar{
        -webkit-appearance: none ;
    }
    
    .icon{
        color: #00B2F0;
        background-color: unset;
        font-size: 35px;
        padding: unset;
    
         
    }
    
    #health{
        background-color: #00B2F0;
        color: aliceblue;
        height: 150px;
        padding: 3%;
    }
    


    #health span{
      font-family:'Nothing You Could Do', cursive;
      font-size: 40px;
      text-align: center;
      display: block;
      }
    
      #health p{
          font-family: 'Questrial', sans-serif;
          text-align: center;
        width: 55%;
        margin: 0 22% auto;
      }
    #news-letter-container{
        height: unset;
        flex: wrap;
    }
    
    
    #news-letter-image img{
    margin-top: -3%;
    height: unset;
    width: unset;
    margin-left: 1px ;
    }
    
    #subscribe-btn {
        margin-top: 10%;
        padding: 15px 25px;
        font-size: 20px;
        color: #017CA3;
        background-color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.2);
      }
      
      #subscribe-btn:hover {
          background-color: #00B2F0; 
        color: white;
    }
      
      #subscribe-btn:active {
        background-color: #8aa1d3;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
    
    footer, footer a{
        background-color: #00B2F0;
        text-align: center;
        color:rgb(240, 241, 247);
    }
    
    footer li{
        font-size: 50px;
        padding: 2%;
    }
    
    #footer-header{
        font-size: 25px;
    }
    
    #footer-contact{
        font-size: 20px;
        padding: 1.5%;
    }
    
    #footer-header span{
        color:#2cecfa
    }
    
    footer p:last-of-type{
        font-size: 18px;
    }
    
    
    }/*End of media*/

/*1080p */
@media screen and (min-width: 1500px){
    
    
    #limited-Offers{
        height: auto;
        display: flex;
        flex-direction: row;
        background-color: rgb(240, 241, 247);
    }
    .card{ border-radius: 5%;
        flex-direction: column;
        width: 400px;
        height: 450px;
        margin: 5% 5% auto;
        margin-bottom: 5%;
    }

    .card:nth-child(1){
        order: 2;
    }

    .card:nth-child(3){
        order: 2;
    }

    .card .flex-content{
        margin-top: 3%;
    }
      .card img{

          height: 100%;
          width: 300px;
      }
}

/*1920p */
@media screen and (min-width: 1919px){
    
    #logo{
        position: unset;
        width:6%;
    }
    
    header{
        
        height: 80px;
        position: relative;
        top:-50%;
        color: white;
    }
    
    .title {
        color: grey;
        font-size: 18px;
      }
    
    h1{
        display: inline;
        font-family: 'Varela Round', sans-serif;
        top: -35%;
        left: 1mm;
        
    }
    
    nav{ 
        position: relative;
        left: 42%;
        top: -70%;
        width: 60%;   
    }
    
    li a{
        font-size: 25px;
    }
    
    
    
}




