@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

:root{
     --nav-height: 80px;
    --nav-width: 100%;
    --nav-link-font-size: 17px;
    --nav-link-padding-top: 7px;
    --nav-link-padding-right:13px;
    --logo-height: 50px;
    --website-name-font-size: 18px;
    --website-name-font-family: 'Helvetica Neue', Helvetica, Arial, sans-;
    --front-cover-font-size: 30px;
    --front-cover-image-width: 100vw;
    --front-cover-image-height: 300px;
    --h2-font-family: 'Anton', sans-serif;
    --h2-font-size: 20px;
    --h3-font-size: 35px;
    --h3-font-family: 'Anton', sans-serif;
    --paragraph-font-family: 'Barlow', sans-serif;
    --blue-theme-color: #0082E6;
    --flex-image-width: 120px;
    --flex-image-height: 150px;
    --banner-font-size: 20px;
    --iframe-width: 90%;
    --flex-content-h2-padding-top: 30%;
    --flex-container-h2-padding-left: 10%;
    --button-font-size: 20px;
    --button-height: 50px;
    --button-width: 80%;
    --h4-font-size: 20px;
    --safety-container-p-font-size: 18px;
    --safety-container-p-width: 98vw;
    --newsletter-container-width: 100vw;
    --icon-font-size: 28px;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
 
  @media (min-width: 279px){
    header{
      background-color: var(--blue-theme-color);
      position: sticky;
      top: 0;
      margin-bottom: 5%;

    }
    nav{
        height: var(--nav-height);
        width: var(--nav-width);
 
      }

          
    #logo{
      height: var(--logo-height);
      margin-left: 5%;
      top: 3.5%;
      position: fixed;
      
    }
      .website-name{
        color: white;
        line-height: 80px;
        font-weight: bold;
        font-size: var(--website-name-font-size);
        margin-left: 25%;
        position: absolute;
        font-family: var(--website-name-font-family);
      }
    
      
      nav ul{
        float: right;
        margin-right: 20px;
      }
      nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
      }
      nav ul li a{
        color: white;
        font-size: 17px;
       padding-top: var(--nav-link-padding-top);
       padding-right: var(--nav-link-padding-right);
        border-radius: 3px;
        text-transform: uppercase;
      }
      a.active,a:hover{
        background: #1b9bff;
        transition: .5s;
      }
      .checkbtn{
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
      }
      #check{
        display: none;
      }

  

      #home-main-container #front-cover{
        display: flex;
        flex-direction: column-reverse;
     
      }

      #front-cover-image{
        object-fit: cover;
        width: var(--front-cover-image-width);
        height: var(--front-cover-image-height);
      }

      #front-cover-title, #front-cover-title-2{
      
        font-family: var(--website-name-font-family);
        margin-left: 5%;
      }

      #front-cover-title{
        font-size: var(--front-cover-font-size);

      }

      #front-cover-title-2{
        font-size: calc(var(--front-cover-font-size) - 15px);

      }

      #limited-offers{
        display: flex;
        flex-direction: column;
        padding: 5%;
      }

      .card .flex-image img {
        block-size: 150px;
        border-block-end-color: rgb(33, 37, 41);
        border-block-start-color: rgb(33, 37, 41);
        border-inline-end-color: rgb(33, 37, 41);
        border-inline-start-color: rgb(33, 37, 41);
        border-start-start-radius: 12px;
        box-sizing: border-box;
        caret-color: rgb(33, 37, 41);
        color: rgb(33, 37, 41);
        column-rule-color: rgb(33, 37, 41);
        cursor: pointer;
        height: var(--flex-image-height);
        inline-size: 88px;
        object-fit: cover;
        overflow-wrap: break-word;
        perspective-origin: 44px 75px;
        text-align: left;
        text-decoration: none solid rgb(33, 37, 41);
        text-emphasis-color: rgb(33, 37, 41);
        text-size-adjust: 100%;
        transform-origin: 44px 75px;
        vertical-align: middle;
        width: var(--flex-image-width);
        border: 0px none rgb(33, 37, 41);
        border-radius: 12px 0px 0px;
        font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        outline: rgb(33, 37, 41) none 0px;
    }/*.card .flex-image img*/
    
    .card .flex-image img:after {
        border-block-end-color: rgb(33, 37, 41);
        border-block-start-color: rgb(33, 37, 41);
        border-inline-end-color: rgb(33, 37, 41);
        border-inline-start-color: rgb(33, 37, 41);
        box-sizing: border-box;
        caret-color: rgb(33, 37, 41);
        color: rgb(33, 37, 41);
        column-rule-color: rgb(33, 37, 41);
        cursor: pointer;
        overflow-wrap: break-word;
        text-align: left;
        text-decoration: none solid rgb(33, 37, 41);
        text-emphasis-color: rgb(33, 37, 41);
        text-size-adjust: 100%;
        border: 0px none rgb(33, 37, 41);
        font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        outline: rgb(33, 37, 41) none 0px;
    }/*.card .flex-image img:after*/
    
    .card .flex-image img:before {
        border-block-end-color: rgb(33, 37, 41);
        border-block-start-color: rgb(33, 37, 41);
        border-inline-end-color: rgb(33, 37, 41);
        border-inline-start-color: rgb(33, 37, 41);
        box-sizing: border-box;
        caret-color: rgb(33, 37, 41);
        color: rgb(33, 37, 41);
        column-rule-color: rgb(33, 37, 41);
        cursor: pointer;
        overflow-wrap: break-word;
        text-align: left;
        text-decoration: none solid rgb(33, 37, 41);
        text-emphasis-color: rgb(33, 37, 41);
        text-size-adjust: 100%;
        border: 0px none rgb(33, 37, 41);
        font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        outline: rgb(33, 37, 41) none 0px;
    }/*.card .flex-image img:before*/
    
    
    .flex-content h2{
        padding-top: var(--flex-content-h2-padding-top);
        padding-left: var(--flex-container-h2-padding-left);
        font-size: var(--h4-font-size);
        font-family: var(--h4-font-family);
    }

      .title{
        display: none;
      }

     
      .card{
        background-color: #f3f2f2 ;
        margin-bottom: 10%;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
    }

     #banner-container{
        background-color: var(--blue-theme-color);
        padding: 5%;
     }

     .banner{
        text-align: center;
        color: white;
        padding: 15%;
        font-size: var(--banner-font-size);
     }

     iframe{
        border-radius: 20px;
        margin-left: 5%;
        width: var(--iframe-width);
        margin-top: 5%;
     }

     #news{
        padding: 5%;
     }

     #news h3{
        font-size: var(--h3-font-size);
        font-family: var(--h3-font-family);
        letter-spacing: 2px;
     }

     #news p{
        font-family: var(--paragraph-font-family);
        font-weight: bold;
     }

  

     #button, #button-2{
       
        background-color: var(--blue-theme-color);
        font-size: var(--button-font-size);
        height: var(--button-height);
        text-align: center;
        padding-top: 4%;
        border-radius: 20px;
        color: white;
          margin: 0 auto;
          width: var(--button-width);
     }

     #button-2{
      background-color: white;
      color: rgb(0, 179, 255) ;
      font-weight: bold;
      margin-bottom: 5%;
    }

     #safety-container{
      background-color: var(--blue-theme-color);
      padding: 5%;
      height: auto;
      color: white;
     }

     #safety-container h4{
      font-size: var(--h4-font-size);
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     }

     #safety-container p{
      font-size: var(--safety-container-p-font-size);
      width: var(--safety-container-p-width);
     
     }

     #newsletter-container{
      height: auto;
      width: var(--newsletter-container-width);
      display: flex;
      margin-top: 15%;
      flex-direction: column;
      background-color: #F27121;
      color: white;
      
    }

    #newsletter-container img{
      object-fit: cover;
      height: 150px;
      width: 100%;
    
    }

    #newsletter-container h5{
      font-size: 25px;
      font-family: 'Abel', sans-serif;
      letter-spacing: .1px;
    
    }

    #newsletter-container h5, #newsletter-container p{
      padding: 5%;
    }

    #newsletter-container p{
      font-family: var(--paragraph-font-family);
      font-weight: bold;
    }
     
    .checkbtn{
        display: block;
      }
   :checked ~ ul{
        left: 0;
      }

      footer{
        background-color: var(--blue-theme-color);
        color: white;
        padding: 5%;
      }

      footer a{
        color: white;
        text-decoration: underline;
      }
      #icon-container{
        text-align: center;
      }

      .fab{
        padding: 2%;
        font-size: var(--icon-font-size);
      }


      ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }
      nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 10px;
      }
      nav ul li a{
        font-size: 20px;
      }
      a:hover,a.active{
        background: none;
        color: #0082e6;
      }
     
  }

  @media (min-width: 319px){
   

  }
