@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

:root{
     --nav-height: 80px;
    --nav-width: 100%;
    --nav-link-font-size: 17px;
    --nav-link-padding-top: 7px;
    --nav-link-padding-right:13px;
    --logo-height: 50px;
    --website-name-font-size: 18px;
    --website-name-font-family: 'Helvetica Neue', Helvetica, Arial, sans-;
    --front-cover-font-size: 30px;
    --front-cover-image-width: 100vw;
    --front-cover-image-height: 300px;
    --h2-font-family: 'Anton', sans-serif;
    --h2-font-size: 20px;
    --h3-font-size: 35px;
    --h3-font-family: 'Anton', sans-serif;
    --paragraph-font-family: 'Barlow', sans-serif;
    --blue-theme-color: #0082E6;
    --flex-image-width: 120px;
    --flex-image-height: 150px;
    --banner-font-size: 20px;
    --iframe-width: 90%;
    --iframe-height: 350px;
    --flex-content-h2-padding-top: 30%;
    --flex-container-h2-padding-left: 10%;
    --button-font-size: 20px;
    --button-height: 50px;
    --button-width: 80%;
    --h4-font-size: 20px;
    --safety-container-p-font-size: 18px;
    --safety-container-p-width: 98vw;
    --newsletter-container-width: 100vw;
    --icon-font-size: 28px;
    --news-paragraph-font-size: 20px;
    --newsletter-paragraph-font-size: 25px;
    --newsletter-container-h5-font-size: 35px;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

 
  @media (min-width: 279px){
    header{
      background-color: var(--blue-theme-color);
      position: sticky;
      top: 0;
      width: 100vw;
      margin-bottom: 5%;
      

    }
    nav{
        height: var(--nav-height);
        width: var(--nav-width);
 
      }

          
    #logo{
      height: var(--logo-height);
      margin-left: 5%;
      top: 3.5%;
      position: fixed;
      
    }
      #website-name{
        color: white;
        line-height: 80px;
        font-weight: bold;
        font-size: var(--website-name-font-size);
        margin-left: 25%;
        position: absolute;
        font-family: var(--website-name-font-family);
      }
    
      
      nav ul{
        float: right;
        margin-right: 20px;
      }
      nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
      }
      nav ul li a{
        color: white;
        font-size: 17px;
       padding-top: var(--nav-link-padding-top);
       padding-right: var(--nav-link-padding-right);
        border-radius: 3px;
        text-transform: uppercase;
      }
      a.active,a:hover{
        background: #1b9bff;
        transition: .5s;
      }
      .checkbtn{
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
      }
      #check{
        display: none;
      }

    

      #home-container #front-cover{
        display: flex;
        flex-direction: column-reverse;
       

      }

      #front-cover-image{
        object-fit: cover;
        width: var(--front-cover-image-width);
        height: var(--front-cover-image-height);
      }

      #front-cover-title, #front-cover-title-2{
      
        font-family: var(--website-name-font-family);
        margin-left: 5%;
      }

      #front-cover-title{
        font-size: var(--front-cover-font-size);

      }

      #front-cover-title-2{
        font-size: calc(var(--front-cover-font-size) - 15px);

      }

      #limited-offers{
        display: flex;
        flex-direction: column;
        padding: 5%;
      }

      .card .flex-image img {
        block-size: 150px;
        border-block-end-color: rgb(33, 37, 41);
        border-block-start-color: rgb(33, 37, 41);
        border-inline-end-color: rgb(33, 37, 41);
        border-inline-start-color: rgb(33, 37, 41);
        border-start-start-radius: 12px;
        box-sizing: border-box;
        caret-color: rgb(33, 37, 41);
        color: rgb(33, 37, 41);
        column-rule-color: rgb(33, 37, 41);
        cursor: pointer;
        height: var(--flex-image-height);
        inline-size: 88px;
        object-fit: cover;
        overflow-wrap: break-word;
        perspective-origin: 44px 75px;
        text-align: left;
        text-decoration: none solid rgb(33, 37, 41);
        text-emphasis-color: rgb(33, 37, 41);
        text-size-adjust: 100%;
        transform-origin: 44px 75px;
        vertical-align: middle;
        width: var(--flex-image-width);
        border: 0px none rgb(33, 37, 41);
        border-radius: 12px 0px 0px;
        font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        outline: rgb(33, 37, 41) none 0px;
    }/*.card .flex-image img*/
    
    .card .flex-image img:after {
        border-block-end-color: rgb(33, 37, 41);
        border-block-start-color: rgb(33, 37, 41);
        border-inline-end-color: rgb(33, 37, 41);
        border-inline-start-color: rgb(33, 37, 41);
        box-sizing: border-box;
        caret-color: rgb(33, 37, 41);
        color: rgb(33, 37, 41);
        column-rule-color: rgb(33, 37, 41);
        cursor: pointer;
        overflow-wrap: break-word;
        text-align: left;
        text-decoration: none solid rgb(33, 37, 41);
        text-emphasis-color: rgb(33, 37, 41);
        text-size-adjust: 100%;
        border: 0px none rgb(33, 37, 41);
        font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        outline: rgb(33, 37, 41) none 0px;
    }/*.card .flex-image img:after*/
    
    .card .flex-image img:before {
        border-block-end-color: rgb(33, 37, 41);
        border-block-start-color: rgb(33, 37, 41);
        border-inline-end-color: rgb(33, 37, 41);
        border-inline-start-color: rgb(33, 37, 41);
        box-sizing: border-box;
        caret-color: rgb(33, 37, 41);
        color: rgb(33, 37, 41);
        column-rule-color: rgb(33, 37, 41);
        cursor: pointer;
        overflow-wrap: break-word;
        text-align: left;
        text-decoration: none solid rgb(33, 37, 41);
        text-emphasis-color: rgb(33, 37, 41);
        text-size-adjust: 100%;
        border: 0px none rgb(33, 37, 41);
        font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        outline: rgb(33, 37, 41) none 0px;
    }/*.card .flex-image img:before*/
    
    
    .flex-content h2{
        padding-top: var(--flex-content-h2-padding-top);
        padding-left: var(--flex-container-h2-padding-left);
        font-size: var(--h4-font-size);
        font-family: var(--h4-font-family);
    }

      .title{
        display: none;
      }

     
      .card{
        background-color: #f3f2f2 ;
        margin-bottom: 10%;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
    }

     #banner-container{
        background-color: var(--blue-theme-color);
    
        display: flex;
        flex-direction: column;

     }

     .banner{
        text-align: center;
        color: white;
     
     margin-top: 15%;
        font-size: var(--banner-font-size);
     }

     .banner:last-of-type{
      margin-bottom: 15%;
     }

  

    
     #banner-container .banner hr{
      width: 40%;
      margin: 0 auto;
      background-color: white;
      border-color: white;
     }

     iframe{
        border-radius: 20px;
        margin-left: 5%;
        width: var(--iframe-width);
        margin-top: 5%;
     }

     #news{
        padding: 5%;
     }

     #news h3{
        font-size: var(--h3-font-size);
        font-family: var(--h3-font-family);
        letter-spacing: 2px;
     }

     #news p{
        font-family: var(--paragraph-font-family);
        font-weight: bold;
     }

  

     #button, #button-2{
       
        background-color: var(--blue-theme-color);
        font-size: var(--button-font-size);
        height: var(--button-height);
        text-align: center;
        padding-top: 4%;
        border-radius: 20px;
        color: white;
          margin: 0 auto;
          width: var(--button-width);
     }

     #button-2{
      background-color: white;
      color: rgb(0, 179, 255) ;
      font-weight: bold;
      margin-bottom: 5%;
    }

     #safety-container{
      background-color: var(--blue-theme-color);
      padding: 5%;
      height: auto;
      color: white;
     }

     #safety-container h4{
      font-size: var(--h4-font-size);
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     }

     #safety-container p{
      font-size: var(--safety-container-p-font-size);
      width: var(--safety-container-p-width);
      font-family: var(--paragraph-font-family);
     }

     #newsletter-container{
      height: auto;
      width: var(--newsletter-container-width);
      display: flex;
      margin-top: 15%;
      flex-direction: column;
      background-color: #F27121;
      color: white;
      
    }

    #newsletter-container img{
      object-fit: cover;
      height: 150px;
      width: 100%;
    
    }

    #newsletter-container h5{
      font-size: 25px;
      font-family: 'Abel', sans-serif;
      letter-spacing: .1px;
    
    }

    #newsletter-container h5, #newsletter-container p{
      padding: 5%;
    }

    #newsletter-container p{
      font-family: var(--paragraph-font-family);
      font-weight: bold;
    }
     
    .checkbtn{
        display: block;
      }
   :checked ~ ul{
        left: 0;
      }

      footer{
        background-color: var(--blue-theme-color);
        color: white;
        padding: 5%;
      }

      footer a{
        color: white;
        text-decoration: underline;
      }
      #icon-container{
        text-align: center;
      }

      .fab{
        padding: 2%;
        font-size: var(--icon-font-size);
      }


      ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }
      nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 10px;
      }
      nav ul li a{
        font-size: 20px;
      }
      a:hover,a.active{
        background: none;
        color: #0082e6;
      }
     
  }

  @media (min-width: 767px){
     header{
    height: 6rem;
   }
    #logo{
      height: var(--logo-height);
      top: 1%;
      left: -3%;
    }

    #website-name{
      top: -5%;
      font-size: calc(var(--website-name-font-size) + 5px);
      left: -16%;
    }

    

    #home-container #front-cover{
      flex-direction: column;
   
    }

    header{
      margin: unset;
      z-index: 3;
    }

    #front-cover-title, #front-cover-title-2{
     color: white;
      position: absolute;
    }

    #front-cover-title{
      top: 45%;
      left: -1%;
      font-size: calc(var(--front-cover-font-size) + 13px);
    }

    #front-cover-title-2{
      z-index: 2;
      top: 38%;
      font-size: calc(var(--front-cover-font-size) + -10px);
      font-weight: bold;
      width: 60%;

    }

    #limited-offers{
      flex-direction: row;
    }

    #limited-offers .card{
      flex-direction: column;
      width: 300px;
      height: 280px;
    }

    #limited-offers .card:nth-child(2){
      margin: 0 5% 0 5%;
    }
    .card .flex-image img{
      width: unset;
    }

    .card .flex-content h2 {
      padding: 5%;
      text-align: center;
      font-size: calc(var(--h2-font-size) + 5px);
      
    }


    #banner-container{
      flex-direction: row;
    }

    .banner{
      margin: 8% auto;
   
    }

    .banner:last-of-type{
      margin-bottom: 8%;
    }
#flex-wrapper{
  display: flex;
  flex-direction: row-reverse;
}

    iframe{
      height: var(--iframe-height);
      width: 45vw;
      height: calc(var(--iframe-height) - 100px);
      margin-left: -5%;
      margin-top: 45%;
    }

    #news h3{
      font-size: calc(var(--h3-font-size) + 15px);
    }

    #news p{
      font-size: var(--news-paragraph-font-size);
    }

    #safety-container{
      height: 250px;
    }

    #safety-container h4{
      font-size: calc(var(--h4-font-size) + 15px);
    }

    #safety-container p{
      width: unset;
      font-size: calc(var(--safety-container-p-font-size) + 10px);
      
    }

    #newsletter-container{
      flex-direction: row;
      margin-top: 5%;
      background-color: white;
      color: black;
    }

    #newsletter-container img{
      height: calc(var(--flex-image-height) + 200px);
      width: 350px;
    }

    #newsletter-container h5{
      font-size: var(--newsletter-container-h5-font-size);
     
    }

    #newsletter-container p{
      font-size: var(--news-paragraph-font-size);
      
    }

    #news #button{
      padding-top: 2.5%;
    }

    #newsletter-container #button-2{
      padding-top: 2%;
      background-color: var(--blue-theme-color);
      color: white;
    }

   footer{
    font-size: 25px;
    
   }

   .fab{
    margin-top: -10%;
    font-size: 40px;
    padding: 10%;
   }

   ul{
    position: absolute;
    width: unset;
    height:unset;
    background: transparent;
    top: 70%;
    left: -5%;
    text-align: unset;
    transition: all .5s;
  }
  nav ul li{
    display: inline;
    margin: unset;
    line-height: unset;
  }
  nav ul li a{
    font-size: .9rem;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }

  .checkbtn, #check{
    display: none;
  }

 
  }

  @media (min-width: 1023px) {
   
   
    ul{
      left: 13%;
    }


    nav ul li a{
      font-size: 1rem;
    }

    #front-cover #front-cover-image{
      height: calc(var(--front-cover-image-height) + 100px);
    }

    #front-cover #front-cover-title{
     top: 65%;
    }
    #front-cover #front-cover-title-2{
      top: 55%;
     }

  }

  @media (min-width: 1199px){
    ul{
      left: 25%
    }

    #limited-offers .card{
      margin: 0 auto;
    }

    #limited-offers .card img{
      width: 100%;
    }
  }

  @media (min-width: 1365px){
    ul{
      left: 20%;
    }

    nav ul li a{
      font-size: 1.3rem;
    }

    #website-name{
      font-size: calc(var(--website-name-font-size) + 1rem);
    }

    #logo{
      height: calc(var(--logo-height) + 1rem);
    }
  }
