
Options when creating profile (freelancer/customer)
Create categories of jobs
Upload jobs to categories, descriptions, ratings, comment rating (admin)
Upload joss (freelancer).
Customer/freelancer can complain/report which are private
Customers can rate freelancers vise versa – freelancers reviews of customers are private, customers are public.
Freelancers can choose which category they want to be in, 
Categories has a max number of freelancers – if the category is full, deny access and prompt the freelancer to try another category.
Customers searches for jobs.
Change user information.
Invoice tells user payment information, every transaction adds 2% to the ne1 business.
When a payment is made, system holds the cash until the customer is satisfied with the final product.

